a
{
    text-decoration-line: none;
}
li {
    list-style: none;
}

.horizontal_menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(238, 200, 255);
}
.horizontal_menu:after {
    content: '';
    display: block;
    clear: both;
}
.horizontal_menu > li {
    float: left;
}
.horizontal_menu > li a {
    display: block;
    background-color: rgb(238, 200, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.horizontal_menu > li a:hover/*:not(.active)*/ {
    background-color: rgb(249, 221, 255);
}
.horizontal_menu > input {
    padding: 15px 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid black;
    overflow: hidden;
    width: 300px;
    position: relative;
    background-color: rgb(249, 221, 255);
    transition-duration: 0.5s;
}
.horizontal_menu > input:focus {
    outline: none;
}
.horizontal_menu > input:focus::placeholder {
    transition-duration: 0.5s;
    color: rgb(249, 221, 255);
}
.horizontal_menu > .icon img {
    position: absolute;
    height: 50px;
    width: 50px;
    margin-left: 17px;
    margin-right: 17px;
    z-index: 1;
    color: black;
}

.vartical_menu {
    margin-left: -25px;
    width: 300px;
    overflow: hidden;
}
.vartical_menu > li {
    width: 50%;
    line-height: 25px;
    background-color: rgb(238, 200, 255);
}
.vartical_menu a {
    color: rgb(107, 74, 128);
}

#outdoor_hobby, #indoor_hobby {
    height: 0;
    transition-duration: 1s;
    overflow: hidden;
}

.vartical_menu > li:hover {
    background-color: rgb(249, 221, 255);
    padding-left: 20px;
    transition-duration: 0.5s;
}


#test {
    overflow: hidden;
    height: 0px;
}